<div class="showjob col-md-6 col-md-offset-2">

<h1> <%= @post.comp_name.humanize %> </h1>
<p class="showp">

 <%= @post.location %>,
 Posted on: <%= @post.created_at.strftime("%B %d %Y") %>
</p>

 <hr>

<h1>  <%= @post.title.humanize %> </h1>
<p> Job Description: <%= simple_format(@post.description) %> </p>




<p> URL: <%= link_to nil, "http://#{@post.comp_url}", target: '_blank' %> </p>

<p> Apply at: <%= link_to("#{@post.email_customer}") %> </p>


</div>
