a
{
	color:#39c;
}

body
{
	font-family:Open Sans;
	font-size:19px;
}

h1,h2,h3
{
	font-weight: 700;
	font-family: Abel;
}

.job-title
{
	font-size:20px;
	font-weight: 700;
}


.field
{
	margin-top:10px;
}

.jobinfo
{

	padding-top:5px;
	margin-top:2px;
	border-radius: 2px;

	p{
		color:rgb(77,77,77);
	}

}

.jobinfo
{
	border-bottom:1px solid #e3e3e3;
}

.more
{
	font-size: 12px;
}

.showjob
{
	margin-top:20px;
	height:740px;
}

.showp
{
	font-size: 14px;
}

.sidebar
{
	margin-top:20px;
}
.sidebar-content
{
	background-color: #fff;
	padding:10px 10px 10px 10px;
	margin-top:30px;
}

.text-border
{
	border-bottom: px solid rgb(147,147,147);
}

footer
{
	background-color: #e3e3e3;
	background-color: #5E6C7F;
	padding:20px;
	margin-top:10px;

	p{
		color:#fff;

	}
	a{
		color:#fff;
	}

}

btn
{
	border-radius:0px;
}
.active
{
	background-color:#e3e3e3;
	background:#fff;

}

.tech-jobs{
	color:#c12e2a;
}
.danger{
	color:#e74c3c;
	background-color: #e74c3c;
}

.search-p{
	padding:2px;
}



